.DS_Store

# Ignore all the generated motor_curves
custom sim/motor_curves/capped_curve*.csv 

TireSim/RawData_*
TireSim/RunData_*
TireSim/fy_out/*/*
TireSim/mz_out/*/*
TireSim/camber_out/*/*

.venv
**/__pycache__